/*
адаптивность - некоторые сайты делают полную адаптивность в css, а некоторые создают поддомены(отдельные версии например мобильную и обычную версию)

адаптивные сайты поисковики ставят выше в раздаче

В адаптивном сайте размеры блоков и шрифтов нужно указывать в относительных единицах

В Гуглхром в посмотреть код есть кнопочка вторая в левом верхнем углу Toggle devise toolbar которая удобно меняет размеры страницы под экран телефона итд
	В открывшемся окне можно выбрать в Dimensions(В левом углу) тип экрана для конкретного телефона или планшета
	Удобно отпределять на каких размерах портится картинка тк указываются пиксели


https://habr.com/ru/post/119127/  - инфа про медиасвойства(2011г)
*/



/* Потом сделать полноценный раздел про медиасвойства */

@media (min-width: 700px) {  /* медиасвойство добавляющее адаптивность блоку - при уменьшении максимальной ширины экрана или просто отображении на экране менее чем 700px вложенный блок свойств применяться не будет, те блоки расположатся по умолчанию один за одним вместо того чтоб отображаться тоненькими сосисочками */
  .container-2 { /* второй родительский блок */
    display: flex;
    justify-content: space-between; /* justify-content - свойство позиционирующее внутренние блоки если их общая ширина(ниже указываем) не занимает всю ширину нашего материнского блока(ширина указана дополнительно):
    flex-start - позиционирует прижатыми слева(значение по умолчанию);
    flex-end - справа;
    center - прижаты по центру;
    space-around - к каждому блоку добаляются отступы с обоих сторон такой ширины чтоб все пространство материнского блока было занято;
    space-between - аналогтчен предыдущему, только не добавляет 2 карайних отступа у крайних блоков */
  }
}


#wrapper #articles article { /* общие стили для всех типов экранов */
  float: left;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fafafa;
}
@media (min-width: 900px) {  /* медиасвойство для адаптивности стили внутри применяются для размеров экрана от 900 пикселей */
#wrapper #articles article {
  width: 31.3%;
  min-height: 400px;
  margin-right: 2%;
}}
@media (max-width: 899px) and (min-width: 600px) {  /* для экранов от 600 до 899 пикселей */
#wrapper #articles article {
  width: 48%;
  min-height: 400px;
  margin-right: 1%; margin-left: 1%;
  margin-bottom: 10px;
}}
@media (max-width: 599px) {  /* далее от 599 пикселей и меньше будут применяться другие стили */
#wrapper #articles article {
  width: 100%;
  margin-bottom: 10px;
}}


/* Для мобилок */
body {
  -webkit-font-smoothing: antialiased; /* Сглаживание шрифтов на мобилках */
  -webkit-overflow-scrolling: touch;  /* Улучшение скролинга при помощи точскина */
}


main {
  /* прижатие, например футера к низу */
  height: 100vh;
}


#menu_1 {
  width: 500px;
  max-width: 100%; /* нужно если экран меньше заданной длинны, тут 500px (адаптивность) */
}












/*  */
