/*                                          Различные свойства и функции */

/* http://www.justinaguilar.com/animations/index.html  сайт анимаций для css3 */

/* 1.  Свойство all используется для удаления всех свойств или же унаследования всех свойств из свойства родителя. Поскольку он служит только для удаления или же унаследования стилей, то он может принимать всего три значения: inherit, initial или же unset. Это новое свойство, которое работает только в новых версиях современных браузеров. */
.all1 p {color: red}
.all1 h2 {color:blue}
.all1 p, .all1 h2 {all: initial} /*  Удалились все свойства в том числе и свойства тегов абзац и заголовок(похоже ииза браузера) */

/* 2. Значение inherit позволяет установить свойство точно таким же, как и свойство в родительском элементе. Все это будет работать исключительно, если в родительском элементе это свойство установлено, иначе результат вы не увидите. Синтаксис значения: Свойство: inherit; #block>p {padding: inherit;} */
.mother_inherit, .doter_inherit { border: 1px solid red;}
.mother_inherit {padding: 15px;}
.doter_inherit {padding: inherit;} /* дочерний элемен принял свойство padding: 15px; */

/* 3. Значение initial позволяет установить значение по умолчанию. Это означает, что применив это значение к какому-либо свойству вы получите свойство со значением установленным браузером   Свойство: initial;  */
#init_p{ font-size: 1.8em;}
#init_p>span{ font-size: initial; }

/* 4.  Функция blur() предназначена для создания эффекта размытия. Функция будет работать корректно со всеми дочерними тегами body. Размытие создается по Гауссу. В качестве размера размытия можно вписать любые CSS3 единицы измерения, к примеру 5px. Чем больше это значение, тем больше будет размытие. Синтаксис функции: filter: blur(Размер); */
#css-course {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

/* 5. Функция calc () предназначена для подсчета значений. Так в этой функции вы можете вычислить размер, угол, время.
Можно применять следующие математические операции:
сложение (+) - margin: calc (12px + 45px)
вычитание (-) - width: calc(100% - 56px)
умножение (*) - height: calc(20em * 1.2)
деление (/) - padding: calc (57px / 3). Деление на ноль невозможно.
Функция поддерживается всеми современными браузерами. Можно спокойно использовать в создании сайта.
Синтаксис функции:свойство: calc(математическая операция); */

/* 6. Свойство caption-side задает положение заголовка таблицы, которое задается при помощи тега caption.  При помощи этого свойства вы можете лишь задать вертикальное положение: сверху или снизу таблицы. Горизонтальное выравнивание происходит при помощи свойства text-align. */
#some_table caption {
	caption-side: bottom; /*  Значение top по-умолчанию и означает что заголовок таблицы будет сверху, а значение bottom говорит о том, что заголовок будет под таблицей. */
}

/* 7. !important применяется для явного указания приоритета. К примеру, если указать его для какого-либо свойства, то его применение будет в приоритете, что означает что именно оно будут использовано.
В этом примере цвет фона будет установлен как lightblue, так как там установлен приоритет */
#important_p { background-color: lightblue!important;}
#important_p { background-color: red;}













/*  */
