/* Способы подключения CSS - в одноименном HTML-фаиле */


/* синтаксис комментария в CSS */
/* можно выделить часть кода в css файле и нажать "Ctrl"+"/" так комментировать эффективней и быстрее */

/* Очистите кэш страницы если не реагирует на изменения в css фаиле - ctrl + shift + R (Mac: cmd + shift + r) */

/* Проверка валидности
Во время создания стилей нередко появляются неясности в отношении правильности их указания и корректности. В данном случае на помощь приходит валидатор CSS, доступный по этой ссылке.
https://jigsaw.w3.org/css-validator/ */


/*                                          CSS - общая информация */

/* CSS - Cascading Style Sheets - каскадные таблицы стилей(язык стилей для объектов html). Нужна для того чтобы придать оформление сайту. Все оформление можно делать и в HTML-коде, но использование стилей намного удобнее. Он позволяет указать стилевое оформление каждого из HTML элементов. Также за счёт CSS можно указывать стили для файлов с XML-разметок: XUL, SVG и прочие */

/* Синтаксис css стилей включает 2 основных элемента: */
/* 1. Селектор(тут body) - он обращается к объектам в html-коде и указывает целевой элемент, которому назначается стиль */
/* 2. Блок объявления стилей – сообщает браузеру нужные правила форматирования. Блок стилей содержит свойства(тут font-family) - свойство опистывает тип стиля, далее через двоеточие указывается его значение(сам стиль) */
body { /* Фигурные скобки можно ставить по разному, можно и в 1 строку и с новой строки после селектора */
	font-family: Arial;
  background-color: red;
	width: 100px; height: 60px;  /* новые свойства можно писать как в строку так и в столбик. последовательность не важна */
	background-color: lightblue; /* Если прописаны 2 одинаковых свойства, то сработает последнее */
}

/* Наследование стилей - если внутри тега со стилем есть вложенный тег, то стиль распространяется и на него если для этого тега не прописать отдельно другой стиль */

/* Атрибуты html и стили css:
Большинство HTML-элементов поддерживают установку стилей посредством атрибутов тегов, например, отдельным элементам есть возможность указать атрибуты width и height. Значения в атрибутах имеют высший приоритет, все прочие теги, подпадающие под общие селекторы, будут иметь стили с CSS-файла. Это портит HTML-код, он перестаёт быть чистым. В случае редактирования неудобно находить и менять стили по разным фаилам */


@charset "UTF-8";
/* Указание типа кодировки(?? Возможно устарело) UTF-8  - универсальная кодировка для работы и с русским и английским*/
















/*  */
