/*                                               Селекторы для выборки элементов */

/*     0. Универсальный селектор. Выбор всех html-объектов через селектор звездочки */
* {
	/*  Какието свойства, например убрать отступы по умолчанию */
	outline: none; /* убираем обводку по умолчанию, например у активных инпут полей */
}

/*     1. Выбор по имени/типу тега(присваивает стили ко всем тегам данного типа) */
h3 {
  background-color: yellow;
}

/*     2. Выбор по классу - присваивает стили ко всем тегам со значением атрибута class аналогичным имени селектора. Удобен тем что можно присвоить стили группе различных конкретных тегов */
.main_text {
  color: red;
}
/* теперь ко всем тегам к которым мы хотим применить это правило, мы дописываем атрибут class="main_text" */

/*     3. Выбор по идентификатору - присваивает стили конкретному объекту с уникальным id */
#text_in_p { /* значение айди в селекторе начинается с символа хэш(#). Желательно не называть именем тегов(старые брауз) */
  color: blue;
}

/*     4. Выбор по вложенным селекторам - присваивает стили объектом соотв конечной точке "пути" цепочки селекторов. Уровень вложенности указывать не обязательно полный если он достаточен  */
div p b {
  color: green;
}

/*     4а. Вложение различных типов селекторов выбора */
p.some_text { /* ?? Путь вложенности указываем без пробела ??  */
	color: blue;
}

/*     5. Группировка различных селекторов выбора(через запятую добавляем новые селекторы ) */
div p b, .any_text, #div_text_in_p {
  color: red;
}

/*     6. Мультиклассы(два и более класса селекторов для одного тега) */
.a.b {text-decoration: line-through;}  /* class="a b" */
.a { color: red;}
.b { color: blue;}

/*     7. Выбор по наличию атрибута */
[name] {color: green;} /* применяет стили к тегам у которых есть атрибут name */
[name=some_name] {text-decoration: line-through;} /* применяет стили к тегам у которых есть атрибут name со значением some_name */
div[name] {background-color: gray;} /* с вложением */

/*     8. Дочерние селекторы - в отличие от просто вложенных выбирают не все вложенные теги а только прямых наследников и не выбирают теги что идут внутри других тегов в этом материнском теге */
#example>i { /* Дочерние селекторы выбираются при помощи символа > */
	color: magenta;
}

/*     9. Соседние селекторы. Можно присваивать стили к типам селекторов которые идут сразу за другим типом селекторов */
span + b { /* Соседние селекторы выбираются при помощи символа + */
  color: #ccc051;
}

















/*  */
