/*                                            Работа с фоновыми картинками  */

/* При помощи CSS можно устанавливать любой задний фон для всего сайта в целом или для определенных объектов. Вместо сплошного цвета на заднем фоне можно добавить картинку. */

/* Цвета помимо просто слова, можно задавать при помощи хэша RGB-hex, для этого можно воспользоваться например color picker в поиске гугла, выбрать там цвет и скопировать его хеш-код  */

/* 1. Установка фона через отдельные background-свойства */
body {
	background-color: #cad6eb; /* background-color - свойство для выбора цвета заднего фона объекта */
	/* transparent - если поставить в значение background-color то фон будет прозрачным */
	background-image: url('../img/klod.jpg');	/* background-image - свойство для выбора фоновой картинки объекта. Юрл-адрес картинки прописывается через синтаксис url(), это может быть и относительный адрес в нашем проекте, так и картинка из интернета. Всесто указания юрл можно поставить значение none - убирает задний фон. */
	background-repeat: repeat-y; /* background-repeat - свойство задающее способ повторения картинки(По умолчанию картинка растягивается на все пространство своего размера, насколько ей не хватает качества для заданного масштаба экрана и повторяется).
	no-repeat - не повторяется(все остальное пространство займет фон) Устанавливается в позицию заданную background-position;
	repeat    - повторяется;
	repeat-x  - повторяется по координате икс;
	repeat-y  - соотв по игрек;
	space     - будет повторятся пока не заполнит весь фон, при этом не будут резаться изображения. Если полностью изображения не заполнят фон, то между ними будут созданы пробелы;
	round     - будет повторятся пока не заполнит весь фон, при этом не будут резаться изображения. Если полностью изображения не заполнят фон, то браузер растянет изображение, чтобы они заполняли весь фон. */
	background-position: right top; /* background-position - свойство задающее расположение фоновой картинки. В качестве значений вы можете установить значение по горизонтали и/или вертикали.
	Горизонталь - left, center, right.
	Вертикаль   - top, center, bottom.
	Указывается следующим образом: left center, что означает 0% 50%, получается прижато к левому боку и по центру страницы */
}

/* 2. Установка фона через универсальное background свойство + Фиксированный задний фон. Свойство background может принимать до 5 свойств, при этом не важно в какой последовательности они будут указаны. */
#first {
	background: green url('../img/vot.jpg') no-repeat center center; /* background: - универсальное свойство в значениии которого можно указать значение всех отдельных background-свойств через пробел(тут по порядку: цвет фона, фоновая картинка, способ повторения, расположение по икс, расположение по игрек) */

	background-size: cover; /* background-size - задает размер фона относительно размера объекта(cover - растянуто на все пространство объекта даже если она маленькая, те исключает повторы) */
	-o-background-size: cover; /* дополнительно для оперы чтобы работало корректно */
  -moz-background-size: cover; /* дополнительно для мозилы */
  -webkit-background-size: cover; /* дополнительно для сафари */

	background-attachment: fixed; /* background-attachment --
	fixed - закрепляет картинку относительно экрана пользователя, соотв она всегда будет оставаться в одном положении и не двигаться при прокрутке экрана;
	scroll - является значением по умолчанию;
	relative - ?? */

	background-blend-mode: multiply; /* background-blend-mode - свойство указывающее сколько будет наложено слоев(multiply -множество слоев) теперь фоновая картинка и цвета фона будут накладываться друг на друга(в данном случае наложится зеленый фон тк он указан как фон) */

	height: 500px; /* height - задает высоту объекта(тут div) по вертикали(игрек) */
}














/*  */
