/*                                                Стили для текста */

/*  Применяются ко любым текстовым элементам на странице(любым тегам содержащим текст включая ссылки) */
/* https://gwfh.mranftl.com/fonts   -  сайт с шаблонами шрифтов для CSS */

.text_text {
	font-family: "Arial", "Palatino", sans-serif; /* font-family - свойство позволяющее изменить семейство шрифта(если нужны нестандартные доп шрифты то придется их подключить например при помощи https://fonts.google.com/) */
	/* Если как тут указывать несколько шрифтов, то браузер сперва выберет 1й и только если его нет выберет 2й итд */
	/* sans-serif либо serif - подберет другой шрифт если на компьютере пользователя не поддерживается указанный, без этого браузер добавит свой стандартный шрифтпо умолчанию. sans-serif используется для задания шрифта без засечек, а serif с засечками */
	/* https://www.w3schools.com/cssref/css_websafe_fonts.php  - тут есть шрифты которые 100% отобразятся в любом браузере и отобразятся более мене одинаково на разных браузерах */

	text-align: center; /* text-align - свойство позволяющее расположить текст относительно экрана по ширине:
	center  - по центру(центрируется каждая строка);
	right   - справа;
	left    - слева(значение по умолчанию);
	justify - растянутый по всей ширине страницы */

	font-size: 1.8em; /* font-size - свойство устанавливающее размер шрифта(по умолчанию обычно 16px). */

	text-indent: 1.1em; /* text-indent - свойство указывающее отступ для первой строки текста(визуально книжного абзаца) */

	font-style: italic; /* font-style - свойство позволяющее сделать текст наклонным(italic) */
	font-weight: bold; /* font-weight - свойство делающее шрифт жирным(bold). Можно настроить разную степень жирности(bolder или цифровыми значениями) но это работает не для всех шрифтов */

	color: #000; /* color - свойство устанавливающее цвет для текста, цвет можно задать как словом так и RGB-hex-хэшем, #000 или #000000 - черный(стоит по умолчанию), #fff или #ffffff - белый. Так же можно установить при помощи функции rgb(0, 0, 0), где максимальное значение 256 */

	text-shadow: 1px 1px 10px red; /* тень(аура) для текста, в значениях 10px это размер распространения и дальше цвет */

	text-transform: capitalize; /* text-transform - свойство определяющее регистр символов.
	lowercase - все строчные;
	uppercase - все заглавные;
	capitalize - капиталайз для каждого слова;
	none - по умолчанию итд  */

	word-spacing: 10px; /* word-spacing - свойство задающее пространство между словами(отрицательное значение уменьшает пространство в минус от стандартного вплоть до перекрывания слов друг другом) */
	letter-spacing: -5px; /* letter-spacing - свойство задающее пространство между символами(отрицательное значение уменьшает пространство в минус от стандартного вплоть до перекрывания символов друг другом). 0 или normal - это значение по умолчанию которое использует браузер для конкретного шрифта (normal учитывает настройки юзера, а 0 нет). Значение должно быть кратно 1 пикселю, соотвественно если задаем в относительных единицах нужно посчитать чтобы в пикселях оно быоло целым, инча будет не очень ровно, например если шрифт по умолчанию 16 то 1px == 1/16 от em == 0.0625em */
	line-height: 50px; /* line-height - свойство задающее пространство между строками(отрицательного значения похоже нет, но перекрытие может быть если оно просто маленькое относительно шрифта) Лучшие значения для удобства чтения это между 1.3 до 1.7 rem */

	text-decoration: line-through; /* text-decoration - свойство определяющее тип подчеркивания у текста(по умолчанию у ссылок нижнее у текста никакое)
	none         - без подчеркивания,
	underline    - нижнее,
	overline     - верхнее(не всегда работает корректно),
	line-through - перечеркивание */
	text-decoration-color: yellow; /* text-decoration-color - свойство определяющее цвет линии подчеркивания */
}



/*                                       Подключение дополнительных шрифтов */

/* Подключим дополнительные шрифты при помощи https://fonts.google.com/ */
/* Выбираем шрифт далее либо скачиваем и помещаем его себе в проект, либо используем ссылку на сайт шрифтов - выбираем Type tecter -> выбираем набор опций для шрифта если они есть, даллее мы можем либо скопировать в тег head предложенный объект linc либо импортировать стили в наш css-фаил при помощи синтексиса @import ... скопировав предложенную строку(тут). Так же там будет указано как его вписать в font-family */

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;1,600;1,800&family=Rubik+Gemstones&display=swap');
/* Мы выбрали 2 шрифта('Rubik Gemstones' и 'Chivo Mono') и дополнительно опции жирности 300, 600 и 800 для 'Chivo Mono' */

.text_text2 {
	font-size: 25px;
	/*font-family: 'Rubik Gemstones', cursive;*/
	font-family: 'Chivo Mono', monospace; /* такой способ значения свойства был указан в гугл фонтс('Chivo Mono' - сам шрифт, monospace - семейство) */
	font-weight: 800; /* Теперь мы можем выбирать те опции жирности которые есть в заданном шрифте */
}



/*                                Подключение фаила шрифтов из директории в проекте */

/* Пример есть в jqwery-stiky_header */

@font-face {
  font-family: 'Obelix';           /* font name */
  src: url('../fonts/Obelix.ttf'); /* URL to font */
}










/*  */
