/*                                                 Стили для блоков */

/* Любой сайт состоит из блоков, которые в отличие от строчных объектов по умолчанию занимают всю ширину экрана. Каждый блок может быть выделен тегом div или же каким-либо специальным тегом по типу: h1, header, footer, aside, main и так далее. С помощью CSS можно добавить множество стилей к блоку и создать из блока практически любую фигуру. */

/* Многие свойства работают только с блочными объекатами */

.block_stile {
	background: #bec320;

	height: 200px; /* height - свойство задает высоту блока(работает только с блочными объектами) по вертикали(игрек) */
	width: 250px; /* width - свойство задает ширину блока(работает только с блочными объектами) по горизонтали(икс) */
	max-width: 400px; /* max-width - свойство указывает максимальную ширину объекта, те ширина объекта не увеличивается если мы раздвигаем страницу(если указана в процентах). Если указать в процентах то блок не будет вылезать за материнский блок(адаптивность) */
	max-height: 400px;
	min-width: 100px; /* Если указать width/max-width(тоже с высотой) то если контент внутри блока больше этих размеров, то он будет вылезать, а если указать только минимальный размер то блок будет растягиваться при увеличении контента */

	line-height: 200px; /* Указав расстояние между строками равное значению height, текст расположится в центре блока по высоте(если он однострочный конечно, а иначе след строка вылезет) */

	/* Добавление обводки может производиться универсальным свойством border или отдельными border-... свойствами или комбинацией универсального и отдельных свойств */
	border: 7px dotted #386738; /* border - универсальное свойство, в которое можно поместить значения (5 ??) различных подствойств. Тут по порядку:
	ширина обводки в пикселях;
	тип обводки: solid - сплошная, dashed - прерывистая/пунктирная, dotted - точечная, double - двойная сплошная, groove - объемная вдавленная, ridge - выпуклая объемная, inset - весь блок кажется вдавленным, outset - весь блок кажется выпуклым итд;
	цвет обводки;  */
	border-bottom: 0; /* border-bottom(/-top/-left/-right) - свойство добавляющее/изменяющее обводку с определенной стороны, можно комбинировать с универсальным свойством. Все значения как и в универсальном. Значение 0 - убирает обводку */
	border-top-style: double; /* Так же можно записывать подсвойства и в само свойство через дефис, если нужно одно конкретное */

	border-radius: 15px 50% 50px; /* border-radius - свойство устанавливающее скругление углов объекта. Если указываем одно значение - скругляет все углы; если 2 значения то 1е скругляет верхний левый и нижний правый, а второе другие два; если указываем три значения, то 1е - верхний левый, 2е - верхний правый и нижний левый, 3е - нижний правый; если 4 свойства то каждое по частовой от верхнего левого угла */

	box-sizing: border-box; /* устанавливает что значение (тут обводки) входит в ширину блока и не будет ее менять. для отступов padding-box, для обводки border-box */

	opacity: 0.8; /* opacity - свойство добавляющее прозрачность(работает с любыми объектами а не только с блоками) при помощи коэфициэнта в котором 1 - полностью непрозрачный, а 0 - полностью прозрачный, те невидимый */

	margin: 20px 25px; /* margin - универсальное свойство меняющее внешние отступы(от других объектов). Можно вписать до 4 значений, работает так же как border-radius только начинается от верхней стороны */
	/* margin: 0 auto; - в сочетании с шириной меньше 100% центрирует блок */
	margin-top: 30px; /* margin(-top/...) - свойство меняющее внешние отступы для отдельной стороны */
	padding: 20px; /* padding - универсальное свойство меняющее внутренние отступы от границ объекта до содержимого тега(текста). Добавляя отступы меняет визуальный размер объекта. Можно записать до 4х значений аналогично margin */
	padding-left: 10px;

	/* Любой браузер добавляет отступы по умолчанию для того чтобы их убрать, то можно установить margin и padding со значением 0 для необходимого тега, удобно установить для всех тегов при помощи селектора звездочка(*) чтобы потом добавлять только для нужных нам блоков */

	/* Часто необходимо скрыть какой-либо объект со страницы сайта или показать его в формате: списка, таблицы, блока, блока в одну линию и так далее. Для редактирования свойства элемента можно использовать свойство display. */
	display: block; /* display - свойство меняющее тип отображения объекта(inline - строчный, block - блочный, table - табличный, list-item - делает элемент частью(li) списка, none - объекты не будут принимать никакие свойства те не будут отображаться и под объект не будет выделено место) соответсвенно меняются и возможные к применгению свойства для него */

	/*visibility: hidden;*/  /* просто скрывает объект но выделенное под него место остается */
}

.borders { /* Пример рисунка при помощи отдельного свойства border-color */
 width: 0; height: 0; /* При нулевых размерах самого объекта он будет полностью состоять из обводки */
 border: 100px solid;
 border-color: #FF5B45 #1D532A #6DCDF7 #FFE02E; /* border-color - свойство для указания цвета обводки */
}















/*  */
