/*                                                 Стили для блоков */

/* Блоки, в отличие от строчных объектов по умолчанию занимают всю ширину экрана. Блок создается тегом div или каким-либо специальным тегом: h1, header, footer, aside, main итд. С помощью CSS можно добавить множество стилей к блоку и создать из блока практически любую фигуру */

/* Многие CSS-свойства работают только с блочными объекатами */

.block_stile {
	background: #bec320;

	height: 200px; /* height - свойство задает высоту блока(работает только с блочными объектами) по вертикали(игрек) */
	width: 250px;  /* width - свойство задает ширину блока(работает только с блочными объектами) по горизонтали(икс) */
	max-width: 400px; /* max-width - свойство указывает максимальную ширину объекта, те ширина объекта не увеличивается если мы раздвигаем страницу(если указана в процентах). Если указать в процентах то блок не будет вылезать за материнский блок(адаптивность) */
	max-height: 400px;
	min-width: 100px;
	min-height: 100px;
	/* Если указать width/max-width(тоже с высотой) то если контент внутри блока больше этих размеров, то он будет вылезать, а если указать только минимальный размер то блок будет растягиваться при увеличении контента */

	line-height: 200px; /* Указав расстояние между строками равное значению height, текст расположится в центре блока по высоте(если он однострочный конечно, а иначе след строка вылезет) */

	opacity: 0.8; /* opacity - свойство добавляющее прозрачность(работает с любыми объектами а не только с блоками) при помощи коэфициэнта в котором 1 - полностью непрозрачный, а 0 - полностью прозрачный, те невидимый */

	margin: 20px 25px;
	/* margin: 0 auto; - в сочетании с шириной меньше 100% центрирует блок */
	padding: 20px;

	/* Часто необходимо скрыть какой-либо объект со страницы сайта или показать его в формате: списка, таблицы, блока, блока в одну линию и так далее. Для редактирования свойства элемента можно использовать свойство display. */
	display: block; /* display - свойство меняющее тип отображения объекта(inline - строчный, block - блочный, table - табличный, list-item - делает элемент частью(li) списка, none - объекты не будут принимать никакие свойства те не будут отображаться и под объект не будет выделено место) соответсвенно меняются и возможные к применгению свойства для него */

	/*visibility: hidden;*/  /* просто скрывает объект но выделенное под него место остается */
}















/*  */
