/*                                               Отступы и обводка */

.some-block { background: #bec320; height: 200px; width: 500px; font-size: 1.5rem; }
.some-span { background: magenta; color: white; font-size: 2rem; }

/* Любой браузер добавляет отступы по умолчанию. Для того чтобы их убрать, можно установить margin и padding со значением 0 для необходимого тега, удобно установить для всех тегов при помощи селектора звездочка(*) чтобы потом добавлять только для нужных нам блоков */
h1, body { margin: 0; } /* убираем отступы по умолчанию у тега body и h2 */

.otstupi { /* стили отступов для some-block и some-span */

  /* margin - не работает со строчными элементами ?? */
  margin: 25px 20px 50px 35px;  /* margin - универсальное свойство меняющее внешние отступы(от других объектов). Можно вписать до 4 значений, работает начинается от верхней стороны по часовой стрелке:
  1 значение - все 4 стороны;
  2 значения - 1е скругляет верх и низ, а второе справа и слева;
  3 значения - 1е верх, 2е справа и слева, 3е низ;
  4 значения - каждое отдельно по частовой от верха
  Значение auto будет центрировать контент по соотв стороне, удобно например для вложенных блоков
  Отступы идущих жруг за другом элементов не складываются, отступ между ними удети равен отступу наибольшему из них */
	margin-top: 30px; /* margin(-top/-botom/-left/-right) - свойство меняющее внешние отступы для отдельной стороны */

  /* для строчных элементов можно указывать только боковой padding */
	padding: 20px; /* padding - универсальное свойство меняющее внутренние отступы от границ объекта до содержимого тега(например текста). Добавляя отступы меняет визуальный размер объекта. Можно записать до 4х значений аналогично margin */
	padding-left: 10px;

}


/* Обводка может быть применена к различным элементам, а не только к блокам */
.bord {
  /* Добавление обводки может производиться универсальным свойством border или отдельными border-... свойствами или комбинацией универсального и отдельных свойств */
  border: 7px dotted #386738; /* border - универсальное свойство, в которое можно поместить значения (5 ??) различных подствойств. Тут по порядку:
  ширина обводки в пикселях;
  тип обводки: solid - сплошная, dashed - прерывистая/пунктирная, dotted - точечная, double - двойная сплошная, groove - объемная вдавленная, ridge - выпуклая объемная, inset - весь блок кажется вдавленным, outset - весь блок кажется выпуклым итд;
  цвет обводки;  */
  border-bottom: 0; /* border-bottom(/-top/-left/-right) - свойство добавляющее/изменяющее обводку с определенной стороны, можно комбинировать с универсальным свойством. Все значения как и в универсальном. Значение 0 - убирает обводку */
  border-top-style: double; /* Так же можно записывать подсвойства и в само свойство через дефис, если нужно одно конкретное */

  border-radius: 15px 50% 50px; /* border-radius - свойство устанавливающее скругление углов объекта. Если указываем одно значение - скругляет все углы; если 2 значения то 1е скругляет верхний левый и нижний правый, а второе другие два; если указываем три значения, то 1е - верхний левый, 2е - верхний правый и нижний левый, 3е - нижний правый; если 4 свойства то каждое по частовой от верхнего левого угла */
  /* Можно поместить в блок картинку и сделать блоку border-radius: 100%; тогда катинка станет круглой */
}


.sizing {
  box-sizing: border-box; /* для отступов padding-box и для обводки border-box устанавливает что значение (тут обводки) входит в ширину блока и не будет ее менять. Поумолчанию стоит значение content-box тоесть обводка и отступы не входят в границы блока */
}


.borders { /* Пример рисунка при помощи отдельного свойства border-color */
 width: 0; height: 0; /* При нулевых размерах самого объекта он будет полностью состоять из обводки */
 border: 100px solid;
 border-color: #FF5B45 #1D532A #6DCDF7 #FFE02E; /* border-color - свойство для указания цвета обводки */
}














/*  */
