/*                                               Стили для полей ввода */

#some_input {
	outline-color: red; /* outline-color - изменяет цвет обводки инпут полей когда они активны */
	outline: none; /* outline - изменяет обводку инпут полей когда они активны(тут none - убирает обводку по умолчанию) */
}

#some_textarea {
	resize: horizontal;
	/* Свойство resize можно применять только к текстовому полю, который записывается через тег textarea. Свойство указывает как пользователь может изменять ширину и высоту текстового поля:
	none       - нельзя изменить размеры textarea;
	vertical   - можно изменить размеры textarea только по вертикали (по высоте);
	horizontal - можно изменить размеры textarea только по горизонтали (по ширине);
	both       - можно изменить размеры textarea как ширину, так и высоту. */
}

#some_input:hover, #some_textarea:hover {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
	/* подсветка границы поля, хз зачем тут - inset 0 1px 1px rgba(0, 0, 0, 0.075) */
}

#some_input:valid, #some_textarea:valid { /* :valid - псевдокласс для незаполненного поля ???? */
	/* background-color: green; */
}














/*  */
