/*                                             Стили для списков */

#list {margin: 20px}

#list ul {
	list-style: initial; /* list-style - свойство для стилей списков, none - указываем что их не будет */
  list-style-position: outside; /* outside - по умолчанию, inside - делает автоотступ изза границ блока в который вложен список и соотв значки перед элементами будут видны(похоже на чтото устаревшее) */
  list-style-type: armenian; /* изменение значков перед элементами списка(для обоих типов списка) */
  list-style-image: url('../img/kon.jpg'); /* можно указать картинку вместо значков списка(если слишком большая то визуально увеличит список) */
}
