/*                                      Позиционирование блоков. float */

/* Блочные объекты по умолчанию располагаются друг под другом вертикально(тк занимают 100% ширины экрана). При помощи CSS свойств мы можем менять расположение блоков относительно друг друга и на странице в целом */

.block { width: 200px; height: 200px; margin: 20px;	} /* Общие стили для блоков */
p { font-size: 1.2rem; }

/* Изменение расположения объектов при помощи свойства float, после чего блок будет позиционироваться с какой-либо стороны, а все дополнительные элементы будут обтекать его. Уместнее всего использовать float для обтекания картинки текстом но раньше при помощи него делалось все позиционирование */
#first_block {
	background: red;
	float: left; /* left(или right/none) - значение свойства float, означает что блок #first_block будет прижат к левой стороне и другие объекты его смогут обтекать справа, но для этого другим блокам тоже нужно добавить свойство float, а иначе они будут наслаиваться, а строчные объекты будут обтекать и так. Строчные объекты обтекают только те блоки, что находятся выше них */
}
#second_block {
	background: blue;
	float: left; /* Теперь оба блока позиционируются слева друг за другом(след относительно предыдущего на одной "линии") */
}
#third_block {
	background: green;
	float: right; /* Позиционируем 3й блок справа */
	/* clear: right;*/ /* Запрещаем позиционирование справа от этого блока */
}


/* Исправляем проблемы со свойством float у предыдущего блока(след блок без свойства float наложится на него). Размещаем пустой блок со стилем clear: both перед следующим блоком, запрещающий свойство float в обе стороны от себя */
#clear_block {
	clear: both; /* clear: - свойство clear необходимо для удаления действия float с определенной стороны.(удаляет обтекание объекта текстом, картинками и прочем с какой-либо стороны.)
	left - удаление обтекания с левой стороны;
	right - удаление обтекания с правой стороны;
	both - удаление обтекания с обеих сторон; none - значение по-умолчанию (обтекание со всех сторон). */
}
/* Теперь очередной float блок будет на новой линии */


/* При добавлении внутреннего блока в html коде, чтобы он корректно отображался ему тоже можно добавть float */
#four_block {
	background: yellow;
	float: right;
}
.block-m {
	width: 100px; height: 100px; margin: 10px;
	background: magenta;
	float: right;
}














/*  */
