/*                                         Иерархия слоев. z-index */

/* По умолчанию у более раннего(выше в расположении в html-коде) блока слой при наложении будет считаться более низким, соответсвенно он будет помещаться под следующий блок. Это можно менять при помощи свойств position и z-index */

#f_block {
	background: magenta; width: 300px; height: 300px;

	position: relative; /* свойство z-index не будет работать без свойства position */
	z-index: 1;         /* Ставим z-index с более высоким значением чем в следующем блоке и теперь этот блок будет поверх него */
}

#s_block {
	background: yellow; width: 300px; height: 300px;

	position: relative;
	top: -150px; /* изменяем относительное положение блока при помощи свойства position чтобы он наслаивался на предыдущий(изначальное пространство этого блока остается этим блоком те будет пустым визуально) */
	right: -150px;
	z-index: 0; /* Ставим z-index с более низким значением чем в предыдущем блоке и теперь этот блок будет под предыдущим(можно указывать отрицательные значения) */
}



/*                                 Позиционирование элементов внутри блока. overflow */

/* Если для блока указать ширину и высоту, то находящийся внутри блока контент не всегда может помещаться в заданные рамки. Чтобы указать правило отображения контента внутри блока можно использовать свойство overflow.  */

/* Можно добавлять overflow только для одной оси:
overflow-y - будет применять значения только по оси y,
overflow-x - только по оси x. */

/* Стили блоков, в которых текст слишком большой и вылезает за их границы по высоте */
#block_text1, #block_text2, #block_text3, #block_text4 {
	height: 100px; width: 200px;
	color: white; background-color: gray;
	border: 5px solid magenta;
	margin: 30px;
	float: left;
}

#block_text2 {
	overflow: hidden; /* overflow - свойство позиционирующее объеты(тут текст) внутри блока.
	visible - значение по умолчанию элементы за границами блока отображаются;
	hidden - элементы которые вылезают скрыты;
	scroll - элементы которые вылезает скрыты и есть полосы прокрутки(и горизонтальной и вертикальной) чтобы их посмотреть;
	auto - добавляет только те полосы прокрутки которые необходимы для данных соотношений размеров блока и элементов внутри него */
}
#block_text3 {overflow: scroll;}
#block_text4 {overflow: auto;}














/*  */
