/*                                 transform и translate  на примере анимированной картинки  */

* { margin: 0; padding: 0;}

body {
  width: 100%; height: 100vh;
  display: flex; /* Делаем flex весь блок body */
  align-items: center; /* позиционируем блоки в body при помощи свойств выравнивания */
  justify-content: center;
}

.main {
  width: 351px; height: 500px; /* размеры блока устанавливаем как у картинки */
  margin-top: 150px;
  background-color: transparent;  /* прозрачный фон */

  position: relative;

  transform: scale(0.8) rotate(-30deg) skew(25deg); /* transform - свойство изменяющее объект при помощи функций */
  /* scale() - функция меняющая размер коэфициентом от изначального(1) от 0 до 1 уменьшение. */
  /* rotate() - функция поворачивающая объект в полоскости в градусах(deg) */
  /* skew() - функция поворачивающая объект как бы в 3д по оси зет в градусах(deg) */
}

.main img {
  position: absolute; /* размечаем картинки в одном месте одна под другой */
  width: 100%;
  transition: 0.5s; /* Свойство задающее скорость/плавность анимаций */

  /* transition - свойство для плавности перехода hover и других эффектов */
  /*
  -webkit-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	transition: all.6s ease;
  */
  /* пример из другого проекта для мозилы, сафари и еще какогото браузера отдельно. Там применялось для смены фона. all в значении видимо значит для всех свойств которые будут меняться */
}

/* Делаем саму анимацию указывая стили для каждой картинки в стопке(наибольший номер выше) */
.main:hover img:nth-child(4) { /* псевдокласс nth-child() указывает энный элемент данного типа номер указываем в скобках */
  transform: translate(160px, -160px); /* translate() - функция при наведении передвигающая объект в пикселях, 1е значение по икс и второе по игрек */
  opacity: 1;
}
.main:hover img:nth-child(3) {
  transform: translate(120px, -120px); /* Для след картинок уменьшаем анимацию вылета, чтобы они вылетали отдельно */
  opacity: .8; /* можно не писать ноль */
}
.main:hover img:nth-child(2) {
  transform: translate(80px, 100px); /* меняем значение с -80 на 100 чтобы одна картинка выезжала из стопки */
  opacity: 1;
}
.main:hover img:nth-child(1) {
  transform: translate(40px, -40px);
  opacity: .4;
}










/*  */
