/*                                   Меню сайта на основе списка при помощи float */


* { /* Удаляем все отступы по умолчанию со всей страницы */
  margin: 0;
  padding: 0;
}

body {
  margin-top: 20px;
}

/* тегу header даешь float: left, мотивируя тем, что у всех блоков в нем есть float: left и так надо, потому что иначе почему то все работает неверно.. Блоки с тегом float не участвуют в потоке документа, соответственно их высота не учитывается в расчете высоты блока header и макет ползет. Лучше прописать в header например overflow: hidden или добавить пустой div со стилем clear: both в конце заголовка. Overflow: hidden отменяет действие float и все работает корректно. Мне кажется ученикам стоит давать понимание потока документа. То же касается позиционирования Position: absolute убирает блок из потока документа. */

/* ПРИМЕЧАНИЯ: float довольно косячный и устаревший. Лучше использовать flexbox и grid  */



/* Вариант 1 простое меню */
#nav {
  list-style: none; /* list-style - свойство для стилей списков, указываем что их не будет */
  display: block; /* при помощи display меняем тип объекта списка на блок(теперь это блок содержащий элементы списка) */
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 50px;
  text-align: center;
}
#nav li {
  display: inline; /* при помощи display меняем тип объекта всех элементы списка на строковый(чтоб они были в одну строку) */
  background: #fafafa;
  border: 1px solid silver;
  padding: 0 20px; /* для строчных элементов можно указывать только боковой padding */
}
#nav li:not(:last-of-type) { /* все элементы списка кроме последнего */
  margin-right: 20px;
}
#nav li:hover { /* стили при наведении */
  color: #fff;
  background: #333;
  border-color: #333;
  border-radius: 5px;
}


#clear_block { clear: both; } /* Исправляем проблемы со свойством float у предыдущего блока(след блок без свойства float наложится на него). "добавить пустой div со стилем clear: both перед следующим блоком" */


/* Вариант 2 меню с выпадающими элементами */
#navbar ul{ /* стили для вложенного списка */
	display: none; /* по умолчанию вложенный список будет неактивным, его не будет видно и он не будет обладать свойствами никакого типа объекта */
	background-color: #f90;
	position: absolute;
	top: 100%;
}
/* Основным моментом здесь является то, что при наведении мыши мы делаем вложенный список блоком: #navbar li:hover ul {display: block}. При помощи дополнительных стилей мы указываем чтобы список был в форме блоков и чтобы у него не было значков списка и прочих стилей. Таким образом у нас получается работающее меню для сайта. */
#navbar li:hover ul {
	display: block;
}
#navbar, #navbar ul{
	margin: 0; padding: 0;
	list-style-type: none; /* убираем стили списков из материнского и вложенного списков */
}
#navbar {
	height: 30px;
	background-color: #666;
	padding-left: 25px;
	min-width: 470px;
  margin-bottom: 50px;
}
#navbar li { /* позиционируем элементы материнского списка друг за другом слева */
	float: left;
	position: relative;
	height: 100%;
}
#navbar li a {
	display: block;
	padding: 6px; /* Меняем визуал ссылок */
	width: 100px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
#navbar ul li { float: none; } /* Отменяем действие float для элементов внутреннего списка чятоб они отображались в столбик */
#navbar li:hover { background-color: #f90; }
#navbar ul li:hover { background-color: #666; }














/*  */
